<div class="row">
    <div class="col-9">
        <h1 class="sub-title">Datos/cliente</h1>
        <div class="col-12">
            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Pedido</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">OT/SVC</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">Cedula</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">Solicitante</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Municipio</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">Instalacion</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">	Tel/instalacion</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">Tel/contacto</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Dirección</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
            </div>
        </div>
        <h1 class="sub-title mt-3">Datos/red</h1>
        <div class="col-12">
            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Vencimiento</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">Fecha/llegada</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">Fecha/control</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">Tipo/Obra</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Atualizacion</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">Conse/Pedido</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">Fecha/terminación</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">Tipo/Obra/Cerrada</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>

            </div>

            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Fecha/Constru</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">Barrio</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">Zona</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">Estado/Red</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Encargado/Red</label>
                <div class="col-5">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">Instalador/Red</label>
                <div class="col-5">
                    <input class="form-control input-modified" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Obra/Civil</label>
                <div class="col-5">
                    <input class="form-control input-modified" type="text">
                </div>
                <label for="" class="col-1 col-form-label">Excavador</label>
                <div class="col-5">
                    <input class="form-control input-modified" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Observaciones</label>
                <div class="col-11">
                    <textarea class="form-control input-modified textarea-modified" id="" name=""></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <h1 class="sub-title">Datos/complementarios</h1>
        <button class="btn btn-sm btn-block btn_primary mb-3">Programar</button>
        <div class="col-12">
            <div class="form-group row">
                <label for="" class="col-4 col-form-label">Estado/pedido</label>
                <div class="col-8">
                    <input class="form-control input-modified" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-4 col-form-label">Fecha/estado</label>
                <div class="col-8">
                    <input class="form-control input-modified" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-4 col-form-label">Fecha/Programación</label>
                <div class="col-8">
                    <input class="form-control input-modified" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-4 col-form-label">Programado a</label>
                <div class="col-8">
                    <input class="form-control input-modified" type="text">
                </div>
            </div>
        </div>
        <button class="btn btn-sm btn-block btn_primary mb-3">Eventos y Dac</button>
        <h1 class="sub-title mt-5">Historial/Movimientos</h1>
        <button class="btn btn-sm btn-block btn_primary mb-3">Historial Movimiento</button>
        <h1 class="sub-title mt-5">Cargar/Archivos</h1>
        <input id="upload_file" type="file" class="mb-3">
        <button class="btn btn-sm btn-block btn_primary mb-3">Cargar Documentos</button>
        <h1 class="sub-title mt-5">Ver/Documentos</h1>
        <button class="btn btn-sm btn-block btn_primary mb-3">Ver Documentos</button>
    </div>
</div>