<form #form_usuarios="ngForm">
    <div id="formulario-usuarios">
        <div class="container-fluid container-modified">
            <div class="row px-3">
                <div class="col-12">
                    <h1 class="mb-3 title">Informacion Personal</h1>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-10">
                            <div class="form-group row">
                                <label for=" " class="col-1 col-form-label">Cedula</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text" value="">
                                </div>
                                <label for=" " class="col-1 col-form-label">Empresa</label>
                                <div class="col-3">
                                    <select name="" id="" class="form-control input-modified">
                                       <option value=""></option>
                                   </select>
                                </div>
                                <label for=" " class="col-1 col-form-label">Clasificacion</label>
                                <div class="col-3 text-center">
                                    <input class="form-control input-modified" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for=" " class="col-1 col-form-label">Nombre</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text" value="">
                                </div>
                                <label for=" " class="col-1 col-form-label">Apellido</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text">
                                </div>
                                <label for=" " class="col-1 col-form-label">Telefono</label>
                                <div class="col-3 text-center">
                                    <input class="form-control input-modified" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for=" " class="col-1 col-form-label">Direccion</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text" value="">
                                </div>
                                <label for=" " class="col-1 col-form-label">Fecha/Nac</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text">
                                </div>
                                <label for=" " class="col-1 col-form-label">Estado/Civil</label>
                                <div class="col-3 text-center">
                                    <select name="" id="" class="form-control input-modified">
                                       <option value=""></option>
                                   </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for=" " class="col-1 col-form-label">Entidad</label>
                                <div class="col-3">
                                    <select name="" id="" class="form-control input-modified">
                                       <option value=""></option>
                                   </select>
                                </div>
                                <label for=" " class="col-1 col-form-label">N°/Cuenta</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text">
                                </div>
                                <label for=" " class="col-1 col-form-label">Tipo/Cuenta</label>
                                <div class="col-3 text-center">
                                    <select name="" id="" class="form-control input-modified">
                                       <option value=""></option>
                                   </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-2 d-flex flex-column align-items-center">
                            <div class="foto mb-2">
                                <img src="../../assets/images/users.png" alt="" id="imgSalida">
                            </div>
                            <input type="file" id="upload_file" hidden>
                            <label for="upload_file" class="btn btn-sm btn_primary px-3 py-1" (click)="upload_file()">Cargar Fotos</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" container-fluid container-modified">
            <div class="row px-3">
                <div class="col-12">
                    <h1 class="mb-3 title ">Informacion Complementaria</h1>
                </div>
                <div class="col-12">
                    <div class="form-group row">
                        <label for=" " class="col-1 col-form-label">Origen</label>
                        <div class="col-3">
                            <select name="" id="" class="form-control input-modified">
                               <option value=""></option>
                            </select>
                        </div>
                        <label for=" " class="col-1 col-form-label">Lugar/Fuente</label>
                        <div class="col-3">
                            <input class="form-control input-modified" type="text">
                        </div>
                        <label for=" " class="col-1 col-form-label">Estado</label>
                        <div class="col-3 text-center">
                            <select name="" id="" class="form-control input-modified">
                               <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for=" " class="col-1 col-form-label">Lugar/Labor</label>
                        <div class="col-3">
                            <select name="" id="" class="form-control input-modified">
                               <option value=""></option>
                            </select>
                        </div>
                        <label for=" " class="col-1 col-form-label">Nombre/Fuente</label>
                        <div class="col-3">
                            <input class="form-control input-modified" type="text">
                        </div>
                        <label for=" " class="col-1 col-form-label">Codigo</label>
                        <div class="col-3 text-center">
                            <input class="form-control input-modified" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid container-modified ">
            <div class="row px-3">
                <div class="col-12 ">
                    <h1 class="mb-3 title ">Acceso al Sistema</h1>
                </div>
                <div class="col-12">
                    <div class="form-group row">
                        <label for=" " class="col-1 col-form-label">Ubicacion</label>
                        <div class="col-3">
                            <select name="" id="" class="form-control input-modified">
                               <option value=""></option>
                            </select>
                        </div>
                        <label for=" " class="col-1 col-form-label">Perfil</label>
                        <div class="col-3">
                            <input class="form-control input-modified" type="text">
                        </div>
                        <label for=" " class="col-1 col-form-label">Disponible</label>
                        <div class="col-3 text-center">
                            <select name="" id="" class="form-control input-modified">
                               <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for=" " class="col-1 col-form-label">Cargo</label>
                        <div class="col-3">
                            <select name="" id="" class="form-control input-modified">
                               <option value=""></option>
                            </select>
                        </div>
                        <label for=" " class="col-1 col-form-label">Contrato</label>
                        <div class="col-3">
                            <input class="form-control input-modified" type="text">
                        </div>
                        <div class="col-2 text-center">
                            <button class="btn btn-sm btn-block btn_primary" data-toggle="modal" data-target="#asignar_dotacion">Asignar Dotación</button>
                        </div>
                        <div class="col-2 text-center">
                            <button class="btn btn-sm btn-block btn_success" data-toggle="modal" data-target="#asignar_permiso">Procesos Disciplinarios</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid container-modified ">
            <div class="row px-3">
                <div class="col-12 ">
                    <h1 class="mb-3 title ">afiliacion</h1>
                </div>
                <div class="col-12">
                    <div class="form-group row">
                        <label for=" " class="col-1 col-form-label">EPS</label>
                        <div class="col-3">
                            <select name="" id="" class="form-control input-modified">
                               <option value=""></option>
                            </select>
                        </div>
                        <label for=" " class="col-1 col-form-label">ARP</label>
                        <div class="col-3">
                            <select name="" id="" class="form-control input-modified">
                               <option value=""></option>
                            </select>
                        </div>
                        <label for=" " class="col-1 col-form-label">Pensiones</label>
                        <div class="col-3">
                            <select name="" id="" class="form-control input-modified">
                               <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="container-fluid container-modified ">
    <div class="row ">
        <div class="col-12 ">
            <h1 class="mb-3 title ">Contratos</h1>
        </div>
        <div class="col-12 ">
            <table class="table table-striped table-bordered table-hover ">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Modificar</th>
                        <th>Tipo</th>
                        <th>Contrato</th>
                        <th>Prorrogas</th>
                        <th>Fecha</th>
                        <th>Inicio</th>
                        <th>Fecha</th>
                        <th>Terminacion</th>
                        <th>Cargo</th>
                        <th>Salario</th>
                        <th>Aux</th>
                        <th>Transporte</th>
                        <th>Aux</th>
                        <th>AD</th>
                        <th>Aux</th>
                        <th>OT</th>
                        <th>Empresa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>item #</td>
                        <td>item #</td>
                        <td>item #</td>
                        <td>item #</td>
                        <td>item #</td>
                        <td>item #</td>
                        <td>item #</td>
                        <td>item #</td>
                        <td>item #</td>
                        <td>item #</td>
                        <td>item #</td>
                        <td>item #</td>
                        <td>item #</td>
                        <td>item #</td>
                        <td>item #</td>
                        <td>item #</td>
                        <td>item #</td>
                        <td>item #</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="btn_add" (click)='addrowtable()' [disabled]="buttonaddrow">
                        <i class="fa fa-plus"></i>
                    </button>
            </div>
        </div>
    </div>
</div>


<!-- modal para ver dotacion -->
<div class="modal fade" id="asignar_dotacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dotación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Fecha</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>item #</td>
                            <td>item #</td>
                            <td>item #</td>
                            <td>item #</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn_danger btn-sm " data-dismiss="modal">Cerrar</button>
                <button type="button " class="btn btn_success btn-sm " data-dismiss="modal">Actualizar</button>
            </div>
        </div>
    </div>
</div>



<!-- modal de permisos y suspensiones-->
<div class="modal fade" id="asignar_permiso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Procesos Disciplinarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h1 class="title mb-3">Permisos & Suspenciones</h1>
                    </div>
                    <div class="col-12">
                        <form>
                            <div class="form-group row pl-3">
                                <label for=" " class="col-1 col-form-label">Documento</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text" value="">
                                </div>
                                <label for=" " class="col-1 col-form-label">Fecha</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text">
                                </div>
                                <label for=" " class="col-1 col-form-label">Permisos</label>
                                <div class="col-3 text-center">
                                    <select name="" id="" class="form-control input-modified">
                                        <option value="0"></option>
                                        <option value="1">Remunerado</option>
                                        <option value="2">No Remunerado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row pl-3">
                                <label for=" " class="col-1 col-form-label">Concepto Permiso</label>
                                <div class="col-3">
                                    <select name="" id="" class="form-control input-modified">
                                        <option value="0"></option>
                                        <option value="1">Incapacidad</option>
                                        <option value="2">Calamidad domestica</option>
                                        <option value="3">Lic. Remunerada</option>
                                        <option value="4">Lic. No remunerada</option>
                                        <option value="5">Diligencia Personal</option>
                                        <option value="6">Otras</option>
                                    </select>
                                </div>
                                <label for=" " class="col-1 col-form-label">Proceso Disciplinario</label>
                                <div class="col-3">
                                    <select name="" id="" class="form-control input-modified">
                                        <option value="0"></option>
                                        <option value="1">Llamado de atencion verbal</option>
                                        <option value="2">1° Llamado de atencion</option>
                                        <option value="3">2° Llamado de atencion</option>
                                        <option value="4">3° Llamado de atencion</option>
                                        <option value="5">Sancion disciplinaria</option>
                                        <option value="6">Cobro imputable</option>
                                        <option value="7">Suspension x dias</option>
                                    </select>
                                </div>
                                <label for=" " class="col-1 col-form-label">Dias de Suspension</label>
                                <div class="col-3 text-center">
                                    <input class="form-control input-modified" type="text">
                                </div>
                            </div>
                        </form>
                        <button class="btn btn-sm btn_primary px-5">Agregar</button>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <h1 class="title mb-3">Detalles</h1>
                    </div>
                    <div class="col-12">
                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Ausentismo</th>
                                    <th>Concepto</th>
                                    <th>Ausentismo</th>
                                    <th>Detalles Suspension</th>
                                    <th>Dias Suspension</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>item #</td>
                                    <td>item #</td>
                                    <td>item #</td>
                                    <td>item #</td>
                                    <td>item #</td>
                                    <td>item #</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn_danger btn-sm " data-dismiss="modal">Cerrar</button>
                <button type="button " class="btn btn_success btn-sm " data-dismiss="modal">Actualizar</button>
            </div>
        </div>
    </div>
</div>