<div class="row">
    <div class="col-9">tablas</div>
    <div class="col-3">observaciones</div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Eliminar</th>
                    <th>Codigo</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Estado</th>
                    <th>Cat.Acta</th>
                    <th>Fecha</th>
                    <th>Acta</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="form-control input-modified"></td>
                    <td class="text-center"><button class="btn btn-sm btn_danger"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                    <td><input type="text" class="form-control input-modified"></td>
                    <td><input type="text" class="form-control input-modified"></td>
                    <td><input type="text" class="form-control input-modified"></td>
                    <td><input type="text" class="form-control input-modified"></td>
                    <td><input type="text" class="form-control input-modified"></td>
                    <td><input type="text" class="form-control input-modified"></td>
                    <td><input type="text" class="form-control input-modified"></td>
                    <td><input type="text" class="form-control input-modified"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>