<div class="container-fluid container-modified">
    <div class="col-12">
        <h3 class="mb-3 title">Ingreso # </h3>
    </div>

    <div class="col-12">
        <form id="income">

            <div class="form-group row">
                <label for=" " class="col-1 col-form-label">Movimiento</label>
                <div class="col-2">
                    <select name=" " id=" " class="form-control input-modified" name="income_move">
                           <option *ngFor="let moves_income of moves_income" value="{{moves_income.idincome_move}}"  [selected]="moves_income.idincome_move==idincome_move" >{{moves_income.income_move_name}}</option>
                    </select>

                </div>

                <label for=" " class="col-1 col-form-label"># Compra   <i class="fa fa-search btn btn-sm btn_success" data-toggle="modal" data-target="#buscar_purchases"></i>
                </label>


                <div class="col-2">
                    <input class="form-control input-modified" type="text" value="{{consecutive_purc}}" name="consecutive_purc" id="consecutive_purc">

                    <input class="form-control input-modified" type="text" value="{{company}}" name="id_company" id="id_company" hidden>
                </div>
                <label for=" " class="col-1 col-form-label">Bodega</label>
                <div class="col-2">
                    <select name=" " id=" " class="form-control input-modified" name="cellar">
                        <option *ngFor="let cellar of cellar" value="{{cellar.idcellar}}" [selected]="cellar.idcellar==purchases_cellar">

                        {{cellar.name}}</option>
                        </select>
                </div>
            </div>


            <div class="form-group row">
                <label for=" " class="col-1 col-form-label">Proveedor</label>
                <div class="col-2">
                    <input class="form-control input-modified provider" type="text" name="name_provider" id="providers_name" value="{{providers_name}}">
                    <input class="form-control input-modified provider hiden" type="text" name="provider" id="providerhiden" value="{{provider}}" hidden>
                </div>

                <label for=" " class="col-1 col-form-label">Fecha Ingreso</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text" value="{{income_date}}" name="income_date" id="income_date">
                </div>

            </div>


            <div class="form-group row">
                <label for=" " class="col-1 col-form-label">N° Factura</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text" value="{{income_invoice}}" name="income_invoice">
                </div>
                <label class="col-1 col-form-label">Fecha Entrega</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text" value="{{income_date_delivery}}" name="income_date_delivery" id="income_date_delivery">
                </div>





                <label for=" " class="col-1 col-form-label">Nro</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text" value="{{income_conse}}" name="income_conse">
                    <input class="form-control input-modified" type="text" value="{{idincome}}" name="idincome" id="idincome" hidden>
                </div>

            </div>

            <div class="form-group row">
                <label for=" " class="col-1 col-form-label">Nro Remision</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text" value="{{income_remission}}" name="income_remission">
                </div>
                <label for=" " class="col-1 col-form-label">Estado Orden</label>
                <div class="col-2">
                    <select class="form-control input-modified" name="state_purc">
                        <option *ngFor="let state_moves of state_moves" value="{{state_moves.idstate_moves}}" [selected]="state_moves.idstate_moves==purchases_state_purc">{{state_moves.name_moves}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Observaciones</label>
                <div class="col-8">
                    <textarea class="form-control textarea-modified" id="" value="{{income_observations}}" name="income_observations"></textarea>
                </div>
            </div>

        </form>


        <button class="btn btn_primary btn-sm mr-3 my-3" [disabled]="buttoinsert==true" data-toggle="modal" data-target="#guardar_income">Guardar</button>
        <button class="btn btn_primary btn-sm mr-3 my-3" data-toggle="modal" data-target="#actualizar_income" [disabled]="buttonUpdate==true">Actualizar</button>

        <button class=" btn btn_success btn-sm mr-3 my-3">
            <i class="fa fa-print" aria-hidden="true"></i>  Imprimir
        </button>
        <button class="btn btn_success btn-sm mr-3 my-3" data-target="#buscar_n_income" data-toggle="modal">Buscar
            <i aria-hidden="true" class="fa fa-print"></i>
        </button>

        <button class="btn btn_warning btn-sm mr-3 my-3" data-toggle="modal" data-target="#buscar_income">Buscar
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
</div>

<div class="container-fluid container-modified">
    <div class="col-12">
        <div class="form-group">

            <div class="datagrid">
                <table id="table_income" class="table table-striped table-hover table-bordered table-relative">
                    <thead>
                        <tr>
                            <th class="width-table-1">Eliminar</th>
                            <th class="width-table-2">Codigo</th>
                            <th class="width-table-4">Descripcion</th>
                            <th class="width-table-2">Can/Solicitada</th>
                            <th class="width-table-2">Can/Recibida</th>
                            <th class="width-table-2">Valor/Uni</th>
                            <th class="width-table-2">Desc</th>
                            <th class="width-table-1">Iva</th>
                            <th class="width-table-2">V/con Iva</th>
                            <th class="width-table-3">SubTotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="item_actividad eliminar_tr" *ngFor="let newrow of rowDatatable; let i=index">
                            <td class="text-center">

                                <button class="btn_delete" value="{{newrow.iddetail_shopping}}" (click)="deleteRowHomeForm(i,$event)" [disabled]="delete==true" type="button" style="padding: 2px">
                                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>


                            </td>

                            <td>
                                <input class="code_provider form-control purchase input-modified" type="text" name="code" focusOnInit="2" value="{{newrow.cod_mater}}">
                                <input class="form-control purchase hiden input-modified" type="text" name="idcode" value="{{newrow.idincome_details}}" hidden>
                                <input class="form-control purchase hiden input-modified" type="text" name="iddetail_shopping" value="{{newrow.iddetail_shopping}}" hidden>
                            </td>

                            <td>
                                <input class="description form-control purchase input-modified" type="text" name="description" value="{{newrow.description}}">
                            </td>

                            <td>


                                <div class="input-group">
                                    <input class="request_amount form-control purchase input-modified" type="text" name="request_amount" value="{{newrow.requested_amount}}">
                                    <span class="input-group-btn">
                           <button class="btn btn-default input-modified" type="button" value="{{newrow.iddetail_shopping}},{{newrow.requested_amount}}" (click)="editpurchase($event)">Edit</button>
                           </span>
                                </div>

                            </td>
                            <td>
                                <input class="amount_receipt form-control purchase input-modified" type="text" name="amount_receipt" value="{{newrow.ceceived_amount}}">
                            </td>
                            <td>
                                <input class="unit_value form-control purchase input-modified" type="text" name="unit_value" value="{{newrow.unit_value}}">
                            </td>
                            <td>
                                <input class="discount form-control purchase input-modified" type="text" name="discount" value="{{newrow.discount}}">
                            </td>
                            <td>
                                <input class="iva form-control purchase input-modified" type="text" name="iva" value="{{newrow.iva}}">
                            </td>
                            <td class="vlr_iva text-center">$0 </td>
                            <td class="vlr_total text-center">$0</td>

                        </tr>
                    </tbody>
                </table>
                <div>
                    <button class="btn_add" (click)='addrowtable()' [disabled]="buttonaddrow==false">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

                <div class="d-flex justify-content-end pr-3">
                    <div class="resumen mr-5">
                        <p class="info border_botom">SUBTOTAL</p>
                        <p class="info border_botom">IVA</p>
                        <p class="info border_botom">TOTAL</p>
                    </div>
                    <div class="resumen text-right">
                        <p class="sub_total border_botom">0</p>
                        <p class="sub_iva border_botom">0</p>
                        <p class="total border_botom">0</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<!--MODAL PARA BUSCAR LAS ORDENES DE COMPRA-->
<div class="modal fade" id="buscar_purchases" tabindex="-1" role="dialog" aria-labelledby="buscar_purchases" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">BUSCAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form id="date_purchases">
                    <div class="row">
                        <div class="col-2">
                            <label for="">Fecha Inicial</label>
                            <input type="text" class="form-control input-modified" name="start_date" id="start_date">
                        </div>
                        <div class="col-2">
                            <label for="">Fecha Final</label>
                            <input type="text" class="form-control input-modified" name="end_date" id="end_date">
                        </div>
                        <div class="col-2 d-flex align-items-end">

                            <div class="btn btn-sm btn_primary" (click)="search_purchases()">Consultar</div>

                        </div>
                    </div>
                </form>
                <hr>
                <div class="row data-tables">
                    <div class="col-sm-12">
                        <table id="search_purchases" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>N° Orden/Compra</th>
                                    <th>Proveedor</th>
                                    <th>Estado</th>
                                    <th>N° Ingreso</th>
                                    <th>Fecha</th>
                                    <th>Selección</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of data; let i=i ndex" (click)="selectRow(i, row)" class="tr1 text-center ">
                                    <td>{{row.consecutive_purc}}</td>
                                    <td>{{row.providers_name}}</td>
                                    <td>{{row.name_moves}}</td>
                                    <td></td>
                                    <td>{{row.purchases_date}}</td>

                                    <td>
                                        <button class="btn btn_select btn-sm" data-dismiss="modal" value="{{row.idpurchases}},{{row.consecutive_purc}},{{row.purchases_id_company}}" (click)="seleccionar($event)">Selecionar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>


<!--MODAL PARA BUSCAR LOS INGRESOS-->
<div class="modal fade" id="buscar_income" tabindex="-1" role="dialog" aria-labelledby="buscar_income" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">BUSCAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form id="searc_income">
                    <div class="row">
                        <div class="col-2">
                            <label for="">Fecha Inicial</label>
                            <input type="text" class="form-control input-modified" name="start_date" id="income_start_date">
                        </div>
                        <div class="col-2">
                            <label for="">Fecha Final</label>
                            <input type="text" class="form-control input-modified" name="end_date" id="income_end_date">
                        </div>
                        <div class="col-2 d-flex align-items-end">
                            <div class="btn btn_primary btn-sm" (click)="serach_income()">Consultar</div>
                        </div>
                    </div>
                </form>
                <hr>

                <div class="row data-tables">
                    <div class="col-sm-12">
                        <table id="searctable_income" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>N° Ingreso</th>
                                    <th>Proveedor</th>
                                    <th>Estado</th>
                                    <th>N° Orden/Compra</th>
                                    <th>Fecha</th>
                                    <th>Selección</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of dataincome; let i=i ndex" (click)="selectRow(i, row)" class="tr1 text-center ">
                                    <td>{{row.income_conse}}</td>
                                    <td>{{row.providers_name}}</td>
                                    <td>{{row.name_moves}}</td>
                                    <td>{{row.income_idpurchases}}</td>
                                    <td>{{row.income_date}}</td>

                                    <td>
                                        <button class="btn btn_select btn-sm" data-dismiss="modal" value="{{row.idincome}},{{row.income_conse}},{{row.income_idcompany}}" (click)="seleccionar_income($event)">Selecionar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL PARA IMPRIMIR LAS ORDENES DE COMPRA-->
<div class="modal fade" id="buscar_n_income" tabindex="-1" role="dialog" aria-labelledby="buscar_n_income" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">BUSCAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-4 offset-3">
                            <label for="">N° Orden</label>
                            <input type="text" class="form-control input-modified">
                        </div>

                        <div class="col-2 d-flex align-items-end">
                            <button class="btn btn_primary btn-sm">Consultar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL DE CONFIMACION-->
<div class="modal fade" id="actualizar_income" tabindex="-1" role="dialog" aria-labelledby="actualizar_income" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <p class="text-center text-muted p-3">Esta seguro que desea actualizar la orden ?</p>
                    </div>
                </form>
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn_success btn-sm" data-dismiss="modal" (click)="update_income()">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="guardar_income" tabindex="-1" role="dialog" aria-labelledby="guardar_income" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Guardar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <p class="text-center text-muted p-3">Esta seguro que desea crear la orden ?</p>
                    </div>
                </form>
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn_success btn-sm" data-dismiss="modal" (click)="insert_income()">Guardar</button>
            </div>
        </div>
    </div>
</div>