<div class="container-fluid container-modified">
    <div class="col-12">
        <h3 class="mb-3 title">Programar Recorridos</h3>
    </div>

    <div class="col-12">
        <form>
            <div class="form-group row">
                <label for=" " class="col-1 col-form-label label-required">Estado</label>
                <div class="col-2">
                    <select class="form-control input-modified">
                    <option ></option>
                    </select>
                </div>
                <label for=" " class="col-1 col-form-label label-required">Fecha inicial</label>
                <div class="col-2">
                    <select class="form-control input-modified">
                    <option ></option>
                    </select>
                </div>
                <label for=" " class="col-1 col-form-label label-required">Fecha final</label>
                <div class="col-2">
                    <select class="form-control input-modified">
                    <option ></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for=" " class="col-1 col-form-label label-required">Fecha/recorrido</label>
                <div class="col-2">
                    <input class="form-control input-modified" />
                </div>
                <label for=" " class="col-1 col-form-label label-required">Recorredor</label>
                <div class="col-2">
                    <input class="form-control input-modified" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid container-modified table-travel">
    <table id="table_materials" class="table table-striped table-bordered table-hover text-center">
        <thead>
            <tr>
                <th>Item</th>
                <th><input type="checkbox"></th>
                <th>Cose</th>
                <th>Municipio</th>
                <th>Cod Instalación</th>
                <th>Direccion</th>
                <th>Solicitante</th>
                <th>Tel. Instalacion</th>
                <th>Tel.Contacto</th>
                <th>Tipo Venta</th>
                <th>Cosineta</th>
                <th>Estado</th>
                <th>Zona</th>
                <th>Nr Envio</th>
                <th>Fecha Re</th>
                <th>Recorredor </th>
                <th>Observaciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>